div.header {
    padding: 1em;
}

div.header h1 {
    letter-spacing: 5px;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

div.subtitle_result_container {
    margin-top: 1em;
}

div.subtitle_result {
    padding: 1em;
    text-align: center;
}

div.subtitle_result:hover {
    background-color: #f5f5f5;
}

span.filename_score {
    font-weight: bold;
}

div#drag_surface {
    padding: 2em;
    border: 1px dashed #dadada;
    text-align: center;
}

div#cover_container {
    text-align: right;
}

span#drag_text {
    font-size: 2.5em;
    font-weight: bold;
    color: #ccc;
}

span#movie_title {
    font-size: 3em;
    letter-spacing: 5px;
}

span#movie_year {
    padding-left: 1em;
    font-size: 2em;
    font-weight: bold;
    color: #ccc;
}

span#movie_genre {
    padding-left: 1em;
    font-size: 2em;
    color: #aaa;
}

img#cover {
    height: 300px;
}

div#extra {
    padding: 2em;
}

span.extra-type {
    font-size: 1.1em;
    font-weight: bold;
    padding-right:0.5em;
}
